[2017-02-23 15:14] pdw207 opened #1 "Facebook API"
This is my first time looking at the facebook api. I wanted to talk through some basic issues with the facebook graph api. [Sampe here](https://graph.facebook.com/v2.8/1598182536873570/events?access_token=EAACEdEose0cBABooW1ZATcrAaWjgAXQQ5HH70GNEFY7wasCAnd2WbewOuYccYCjoplYLaQmjDIqT6OFmaBOJjClH7AGJwblxjr65L7Gf8MkJTWVZAtENJbAS48j32BDpf4927ZA5kj3oQdbrAr0HxP21i7RgOkmAWaPJ0dSicv95Xg0jfahcpZBduPnHGq4ZD&

[2017-02-23 16:15] november9 commented on #1
I was discussing with @InciteDemocracy the possibility of using something like https://redis.io/ to cache the FB API responses, and then the front end hits redis instead of FB. This way we only hit FB every few mins or whatever, and redis takes the hits.

This would probably take more server side work than I would immediately be able to do, so if anyone here is a back end dev, then maybe this is s

[2017-02-23 19:13] pdw207 commented on #1
@november9 Redis makes sense.

[2017-02-27 16:31] arashaghevli commented on #1
Hey hey. I think we've been having parallel conversations about the backend architecture. We've created an MVP document to capture some of the ideas, so maybe we can discuss there.

I've included this idea there as well. https://docs.google.com/document/d/1XGZmkcMDXteGJqf9dL0KY7_OUEmkIVleN7OAgWDWM2o/edit#heading=h.i7uqrxxwx5ls

 I stood up a back end node server over the weekend that makes FB call

[2017-03-01 18:46] dorono opened #2 "Consider reusing code for "Add to Calendar" from github.com/november9/wecansavedemocracy"
I started on a project that does something similar to the resistance calendar, and one of the features I implemented was the ability to import your list of events/actions into the calendar of your choice (Google, Outlook, Apple, etc).

I am doing so with the help of a service called, "Add Event", which is costing me $7/month. https://www.addevent.com.

The API format I have is pretty specific to m

[2017-03-02 02:30] watzkej commented on #1
Howdy, I'm @november9's friend.  I'm happy to help with the project.  I think we could easily setup a caching worker that reads the event and dumps to something like redis.  If you host this on Heroku, it would be scalable.

[2017-03-13 20:08] #1 closed

[2017-03-13 20:09] #2 closed

[2017-03-13 20:10] pdw207 opened #7 "Decision on Managing Anyc State in Redux & Redux Organization"
We need to make a decision and set up nextjs with Redux: A good example is here:
https://github.com/zeit/next.js/tree/master/examples/with-redux

Are we using Saga, Redux Logic or Thunk?
https://github.com/redux-observable/redux-observable 2,449 stars
https://github.com/gaearon/redux-thunk 4,500 stars
https://github.com/jeffbski/redux-logic 532 stars
https://github.com/redux-saga/redux-saga 6,800

[2017-03-13 20:16] pdw207 opened #8 "Setup Linting"

[2017-03-13 20:16] #8 closed

[2017-03-13 20:36] pfarnach commented on #7
Here's a good overview of some of 3 of the mentioned middlewares: https://medium.com/react-native-training/redux-4-ways-95a130da0cdc#.y7w9wo3c0

I've personally only ever used redux-thunk and I've found it to be very simple and scalable.  The source code is ~15 lines of code and requires that you return a function from your action creator -- that function gives you redux's `dispatch()` as a "funne

[2017-03-13 21:21] pdw207 commented on #7
For me I've used `redux-thunk` and `redux-saga`. I like `redux-thunk` on small projects because its simple to understand and use and suggest we don't preemptively introduce complexity until/unless required.

[2017-03-14 02:47] dorono commented on #7
I'm ok with redux-thunk if that's the consensus, especially since I am fairly new to the React ecosystem, so whatever will make it easiest for folks such as myself and others who will be joining the project over the coming months/years is probably going to outweigh any benefits from a more complex solution. Cool either way though.

[2017-03-14 03:13] dorono opened #9 "Decision on possible UI/CSS framework"
Very new territory for me as it relates to React, but an equivalent of a Bootstrap, Material-UI, or basically, anything that we could use for out-of-the-box easy-to-implement UI and interactions which we know have already been tested on all major browsers and devices.

Here are some of the newer ones I found from a quick Google search:
https://hashnode.com/post/10-best-reactjs-ui-frameworks-for-ra

[2017-03-14 22:19] pfarnach opened #10 "Move components to consume Services/FixtureAPI instead of Fixtures"

[2017-03-14 22:19] pfarnach opened #11 "Stub out components for add event component"

[2017-03-14 22:20] pfarnach opened #12 "Stub out components for event detail page"
No styling or content, just creating the files, adding any dependencies that we know will be required.

[2017-03-14 22:20] pfarnach opened #13 "Stub out components for event list page"
No styling or content, just creating the files, adding any dependencies that we know will be required.

[2017-03-14 22:20] pfarnach opened #14 "Stub out containers for event list page:"
No styling or content necessary, just placeholders for:
1. Header from the logo down until the date select
2. Events List
3. Individual Event

[2017-03-14 22:20] pfarnach opened #15 "Stub out pages"
These three pages will house all of our containers and components.
No styling or content necessary at this point.
1. Event list page
2. Event detail page
3. Add event page

[2017-03-14 22:20] pfarnach opened #16 "Add Redux to site"

[2017-03-14 22:20] pfarnach opened #17 "Setup Linting (semi-standard) and editor config"

[2017-03-14 22:21] pfarnach opened #18 "Travis CI"

[2017-03-14 22:21] pfarnach opened #19 "Add Test Runner"

[2017-03-14 22:48] pfarnach commented on #9
I've used Material-UI a good amount and it's solid and straightforward but overwriting their styles can be a pain (lots of inline styles and `!important`s).  They allow for theming via a provider which is handy for global overwrites.

I've been playing around with Semantic-UI on a side project and I've enjoyed it and seems like a solid choice as well.

I'm not crazy about the Material UI design la

[2017-03-14 22:57] pfarnach commented on #7
Taking a step back, what sort of state do we intend to put into redux?  Looking at the mocks, the UI component structure seems very simple, so is redux necessary [right now]?

[2017-03-15 02:46] pdw207 commented on #16
for pagination: https://github.com/PCreations/redux-paginator

[2017-03-15 02:46] pdw207 commented on #17
PR open could someone take a look?

[2017-03-15 07:13] ignu commented on #16
I can grab this.

Anyone have opinions on https://github.com/erikras/ducks-modular-redux or https://github.com/skellock/reduxsauce?

I'm not a huge fan of just `/actions` and `/reducers` directories. I'd rather just a user component with action creators/reducers for the user in the same file.

[2017-03-15 13:32] #19 closed

[2017-03-15 13:32] #17 closed

[2017-03-15 16:54] ignu commented on #7
Just to argue for the pros of redux:

* it's a known architecture, there's no reinventing the wheel.
* right now we're fetching data in `EventList` and passing props to `EventCard`. i don't think that plays nicely with being able to route to `/events/:id`
* forces immutability of state
* wealth of debugging tools including time traveling debugging

[2017-03-15 18:27] pfarnach commented on #15
Is this ticket still needed?  I see a number of pages stubbed out -- based on the mocks, the `add event page` will be a component, not a page

[2017-03-15 18:36] #15 closed

[2017-03-15 18:51] pfarnach commented on #7
I'm a big fan of redux, I just want to make sure it's not adding unnecessary complexity to what is a relatively simple app.  I'm happy either way -- I see a lot of projects jumping into redux by default, so it seemed like a good time to ask the question.

I'm not sure what you mean by the `/events/:id` route.  How we store the data is separate from how we route to the event details page, right?

[2017-03-15 23:26] jktravis commented on #18
I'll see if I can get this working.

[2017-03-15 23:29] jktravis commented on #18
Apparently, I don't have the access needed to get this setup.

    You don't have sufficient rights to enable this repo on Travis.
    Please contact the admin to enable it or to receive admin rights yourself.

[2017-03-15 23:54] jktravis commented on #7
I'm a fan of [redux-logic](https://github.com/jeffbski/redux-logic). It really is a nice API, and from what I see it provides the best of all the async worlds. I'm currently using it for my day-job project. It allows you to use Promises, generators, or observables, has a dependency injection mechanism, auto dispatch success/failures, multi-dispatch mode, and more. I really like the auto-dispatch.

[2017-03-16 01:01] pfarnach commented on #18
cc: @InciteDemocracy

[2017-03-16 02:02] jktravis commented on #18
It looks like there's already a [.travis.yml](https://github.com/ResistanceCalendar/resistance-calendar-frontend/blob/master/.travis.yml) file in the repo. I don't think there's much else to do besides logging into Travis and turning it on.

[2017-03-16 02:23] jktravis opened #27 "Decision on stateless component style"
It's my understanding that using anonymous functions as stateless components can cause debugging issues since there is no name attached to the function. Instead, the suggestion is to just export a named function.

So instead of doing this:

[code]

It's recommended to do this:

[code]

Should we decide as a group to try and avoid them or does it just not matter?

[2017-03-16 17:31] dentemple commented on #27
My vote is to stick with the ES6 syntax for the Stateless Functional Components (SFCs).  (And, to be honest, I've only ever seen the ES6 syntax recommended for SFCs).

[code]

The purpose behind SFCs is to create a clear delineation between smart components and dumb components, and to make these delineations as clear as possible even when doing a quick scan.

As an explicit function, it may not be

[2017-03-17 00:53] #13 closed

[2017-03-17 00:53] #10 closed

[2017-03-18 20:24] pfarnach commented on #12
Work done in GH-28

[2017-03-18 20:24] #12 closed

[2017-03-18 20:32] pfarnach opened #29 "Bring in Material UI library and stub out events filter component"

[2017-03-19 01:56] dorono opened #31 "Download Google fonts and host locally"

[2017-03-19 01:57] dorono opened #32 "Create global stylesheet for shared styles and replace hard-coded global CSS values with the variables (a la Sass)"

[2017-03-19 02:34] dentemple commented on #32
I was looking into this, and it seems that Next.js is opinionated towards the inline approach to CSS.

Which, I suppose, just means that there's some extra webpack configuration necessary to meet this requirement.

(If you attempt to import it now, you'll get a 'module load' error)

[2017-03-19 02:43] dentemple commented on #31
Link to the design discussion regarding the typography: https://github.com/ResistanceCalendar/design/issues/9

[2017-03-19 02:59] dentemple commented on #32
Updated my comment above.  The style-jsx library inherently allows for globally-scoped css.

[2017-03-19 13:39] dorono opened #34 "Create Title Search Input Component"

[2017-03-19 18:56] dentemple opened #37 "Add icons to the project"
So I spent some time today attempting to add some Font Awesome icons to the project, but I couldn't get them to work.  (At minimum, the filters section needs both a 'search' icon and a 'location-pin' icon).

Generally, for react, it's just a matter of adding a CDN link to the head, and then importing the `<FontAwesome>` component from the `react-fontawesome` library.

I'm not sure if I've been mes

[2017-03-20 07:45] pfarnach opened #38 "Migrate app to client-side rendering"

[2017-03-22 00:36] pfarnach commented on #38
resolved in GH-39

[2017-03-22 00:36] #38 closed

[2017-03-22 00:38] pfarnach commented on #29
Thinking more about this and the (relatively) simplicity of the design, I'm not sure if it's worth it bringing in a full-scale component library.  I'm going to poke around for datetime-only component libraries to see if we can avoid the weight of something like Material UI

[2017-03-22 00:38] #29 closed

[2017-03-22 00:39] pfarnach opened #40 "Bring in calendar/datepicker component"

[2017-03-22 00:40] pfarnach commented on #14
It seems like the basic event details page structure is done

[2017-03-22 00:40] #14 closed

[2017-03-22 00:42] pfarnach commented on #32
Was this taken care of in the switch over to SCSS/CSS modules?  (looking specifically at the `src/style` files.

[2017-03-22 01:51] pdw207 opened #41 "Add Event Page"

[2017-03-22 01:52] pdw207 commented on #41
Going to wire up https://formspree.io/ to send an email to the trello board so we can plug into the current workflow.

[2017-03-22 02:44] dorono opened #42 "Apply styling to event list on homepage"

[2017-03-22 02:54] dorono opened #43 "Style application page containing elements"
Applying background color and updating section widths to allow for mobile

[2017-03-23 13:22] #37 closed

[2017-03-23 14:50] #41 closed

[2017-03-23 18:46] pfarnach commented on #40
Done with GH-46

[2017-03-23 18:46] #40 closed

[2017-03-23 18:47] #32 closed

[2017-03-23 18:49] pfarnach opened #48 "General layout styling"

[2017-03-28 03:09] #48 closed

[2017-03-28 03:09] pfarnach commented on #11
Seems like this is done

[2017-03-28 03:09] #11 closed

[2017-03-28 18:07] #16 closed

[2017-03-28 18:08] pdw207 commented on #9
@pfarnach @dorono Can I close this issue?

[2017-03-28 18:09] pdw207 commented on #42
@dorono What additional styles are needed to close this?

[2017-03-28 18:25] pfarnach commented on #9
Sure.  It seems like we're holding off on bringing in a component/CSS library for now.

[2017-03-29 05:03] InciteDemocracy opened #56 "Make entire event card clickable"
Currently you need to click on the event title to get to the event details page. The entire event card should be a button that takes users to the event details.

[2017-03-29 05:06] InciteDemocracy opened #57 "Make search bar narrower, shorter, and add search icon."
https://trello.com/c/SloLDnHs/70-a-user-sets-a-location-and-distance-filter

[2017-03-29 05:14] InciteDemocracy opened #58 "Set maximum length of event description in desktop list view to 250 characters"
Some events have very long descriptions, we want to display a truncated version of this ideally with ellipsis at the end of it. Tockify does 200 characters let's try 250.

[2017-03-29 05:16] InciteDemocracy opened #59 "Shrink logo on mobile"
Logo and add events button should share the top row on mobile, logo upper left, add events button in upper right.

[2017-03-29 05:23] InciteDemocracy opened #60 "Make events list full width on desktop for larger screens"
Currently the desktop view is full width up to a point, and then it adds in red bars on the sides. We want the white to stretch full span from side to side for larger screens too.

[2017-03-29 05:53] InciteDemocracy opened #61 "Remove Button Focus outlines for chrome."
Maybe button:focus {outline:0;} will do the trick for getting the blue line around the buttons/search box to go away.

[2017-03-29 06:07] pfarnach commented on #59
@InciteDemocracy I think I fixed this today -- let me know if it's looking right

[2017-03-29 06:07] #59 closed

[2017-03-29 14:15] pdw207 commented on #18
done!

[2017-03-29 14:15] #18 closed

[2017-03-29 14:40] #9 closed

[2017-03-29 17:03] sdotson commented on #56
Hi, I saw this issue and decided to have a crack at it.

[2017-03-29 21:07] dorono opened #63 "Implement social sharing on Event Detail page (mobile popup and desktop sidebar)"

[2017-03-29 21:09] dorono commented on #42
I created this a while back, I believe it's done, but @pfarnach can confirm - Pat - are we done with this one?

[2017-03-29 22:20] pfarnach commented on #42
Yep.  It seems like the styling is mostly there and improvements will be made in separate issues

[2017-03-29 22:20] #42 closed

[2017-03-30 00:11] pfarnach commented on #60
Does this mean remove the max-width on the main container?  It's pretty traditional to have a max width on containers otherwise you have content spanning the whole screen which hurts readability.  Would increasing the current max width help?

[2017-03-30 01:10] pfarnach commented on #61
I'm happy to remove the focus outline.  In reading a bit about it, some people have strong feelings about it being a bad practice from an accessibility/usability perspective which is something to be aware of

[2017-03-30 03:02] pfarnach commented on #58
Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/commit/e6fe5bee4e7b78703d95be5c1b11111a79773c7a

[2017-03-30 03:02] #58 closed

[2017-03-30 03:02] pfarnach commented on #61
Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/commit/e6fe5bee4e7b78703d95be5c1b11111a79773c7a

[2017-03-30 03:02] #61 closed

[2017-03-30 19:05] pfarnach commented on #56
Hi @sdotson, make sure to assign the ticket to yourself (so we don't duplicate efforts) and close it when it's been merged in.

Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/commit/96de41679a1ef55a4ddb49fba7fdc21dcf0cf2c1 and https://github.com/ResistanceCalendar/resistance-calendar-frontend/commit/3d153f56db0c548175af6937568f0293c5aa7ed4

[2017-03-30 19:05] #56 closed

[2017-03-30 19:09] sdotson commented on #56
@pfarnach, will do!

[2017-03-30 21:31] InciteDemocracy opened #67 "Update pop up Calendar Menu"
Enlarge (close to full width on mobile)
Add day boxes
Add larger back/forward icon buttons.
Make day abbreviations 3 letters, all caps.
Remove box outline
Add drop shadow

![screenshot 2017-03-30 11 39 23](https://cloud.githubusercontent.com/assets/25624431/24527385/8ae8c2e8-153d-11e7-9a29-dd544359323a.png)

[2017-03-30 22:09] InciteDemocracy opened #68 "Update pop up Location Menu"
Enlarge and center (close to full width on mobile)
Add triangular tab to upper right to indicate connection to "location button"
Improve spacing of elements

![screenshot 2017-03-30 12 20 02](https://cloud.githubusercontent.com/assets/25624431/24528648/3b78e2be-1543-11e7-9f14-55f6e57c3f35.png)

[2017-03-30 22:25] InciteDemocracy opened #69 "Update Nav layout on Mobile"
![screenshot 2017-03-30 12 32 16](https://cloud.githubusercontent.com/assets/25624431/24529018/f9dca99c-1544-11e7-8bd5-5a478bec90e0.png)

[2017-03-30 22:38] #57 closed

[2017-03-31 17:23] pfarnach commented on #60
Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/70/commits/2023eb6d875b54b5d38272fbdcf9e8d788f8ced4

[2017-03-31 17:23] #60 closed

[2017-03-31 17:24] pfarnach commented on #27
Closing this issue since it doesn't seem like there's more to say

[2017-03-31 17:24] #27 closed

[2017-04-01 00:31] InciteDemocracy opened #72 "Convert Add Event form to Pop up"
Currently the add event form appears full page. We want to make it appear as a popup menu connected to the add events button.

![screenshot 2017-03-31 14 27 59](https://cloud.githubusercontent.com/assets/25624431/24573439/c896e3d6-161e-11e7-8d81-b10c3802b26a.png)

[2017-04-01 02:07] ignu commented on #72
Should there still be a route to `/add-event`?

And should this still be a modal on mobile?

[2017-04-01 14:56] dorono opened #73 "Implement social media sharing functionality on social media buttons"
In the SocialBtns component, we are currently just passing in hyperlinks that simply take you to the event, as opposed to opening up Facebook or Twitter's native sharing dialogue.

* For Facebook, we need to do it here:
https://developers.facebook.com/docs/javascript/examples (we'll need to create a Facebook App in the resistancecalendar FB account)
* For Twitter: https://dev.twitter.com/web/tweet

[2017-04-02 21:01] dorono opened #75 "Add Events page button modifications"
* Remove "Add Event" button from Add Events page header
* add "Cancel" button to add event form

[2017-04-02 21:32] pfarnach opened #76 "Hook up events to API and add "Load more events" button"

[2017-04-03 17:51] pfarnach commented on #76
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/commit/e4ee3f8bb0e9cdc9a661626bd5846f90270d6aad

[2017-04-03 17:51] #76 closed

[2017-04-03 18:10] dorono opened #79 "Fix CSS layout issues on Events/home page"
If you look at the attached screen shot of the iPhone simulator, you'll see that at portrait view, some of the elements are split and misaligned due to lack of space.

Highly suggested to use the Mac's native iPhone simulator which is part of XCode.

<img width="309" alt="screen shot 2017-04-03 at 1 08 17 pm" src="https://cloud.githubusercontent.com/assets/2634159/24623696/eda9376c-186e-11e7-89fc-

[2017-04-06 01:00] pdw207 opened #80 "Move add event form to event listing as modal on desktop"

[2017-04-06 03:02] dorono commented on #80
@pdw207 There was talk of holding off on doing this for now just to get the site live quicker, since the page is already working as is (albeit not as slick as with the modal). Whaddyafink?

[2017-04-06 05:02] ignu commented on #80
isn't this a dupe of https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/72

(also i had a question on that)

[2017-04-06 19:12] sdotson commented on #73
This sounds like fun. Happy to take a crack at it if there's someone who can create a Facebook App in the resistancecalendar FB account and hand me the application id. If that might be a while, I could create a dummy app with my account for testing purposes.

[2017-04-06 19:14] sdotson commented on #73
Oh my mistake. looks like this is already being worked on https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/63

[2017-04-06 19:20] dorono commented on #63
This is actually done, as the work here was just to make the UI involved in the popup itself as well as the page's responsive behavior to work right. Actually hooking up the buttons to make them share is going to be done in https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/73.

[2017-04-06 19:22] dorono commented on #73
@sdotson I just updated the https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/63 to reflect that that ticket was just for popup behavior and responsive layout work, so feel free to have at this one!

[2017-04-06 19:25] dorono commented on #73
@InciteDemocracy - Maybe you can create the FB app for the FB sharing button that @sdotson is thinking of implementing. There's no coding involved in creating the app, it's just filling out a form on developers.facebook.com (https://developers.facebook.com/docs/apps/register). Let me know if you need more info on that.

[2017-04-06 20:47] InciteDemocracy commented on #73
I'd be happy to help with facebook app setup, we have an existing FB app, should we create a second separate one for this?

[2017-04-07 00:12] pdw207 commented on #80
It is a duplicate. Going to close this one. @dorono I agree with you but already started this so will just finish it.

[2017-04-07 00:12] #80 closed

[2017-04-07 00:13] pdw207 commented on #73
@dorono @InciteDemocracy I don't think you need a separate app. Maybe provide access to whomever takes this issue.

[2017-04-07 18:26] pfarnach opened #82 "Hook up calendar and search text components to use filtering endpoint"

[2017-04-09 22:07] InciteDemocracy opened #84 "Scroll events list only"
Currently people could find themselves at the bottom of a very long list of events, We could either add a "back to top" shortcut button or make the nav stick to the top of the window.

![screenshot 2017-04-09 12 04 43](https://cloud.githubusercontent.com/assets/25624431/24841296/27f60a0a-1d1d-11e7-8aa2-55d1223fa33b.png)

[2017-04-10 01:10] dorono commented on #84
I am actually working on this as part of my work om the header

[2017-04-10 03:21] #75 closed

[2017-04-10 03:23] dorono commented on #69
@InciteDemocracy @caitlynl22 Hey guys, I've been working on the HTML/CSS part of doing this - but is someone already working on that? Not sure if this issue is for the design or if it's for the actual code.

[2017-04-10 13:52] pdw207 opened #86 "Add tests to Add Event Form"

[2017-04-10 13:53] pdw207 opened #87 "Fix Validations in Add Event Form"
- Accept urls without https
- show error only on blur
- validation error should prevent submission

[2017-04-10 17:35] pfarnach commented on #82
Closed with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/83

[2017-04-10 17:35] #82 closed

[2017-04-13 11:44] dorono commented on #34
Marking this as complete, as this ticket was simply to break this input out into its own component.

[2017-04-13 11:44] #34 closed

[2017-04-13 11:44] #43 closed

[2017-04-13 11:45] #63 closed

[2017-04-13 17:57] dorono commented on #68
@caitlynl22 - Are you going to be doing this as part of your work on the nav? (https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/69)

[2017-04-13 17:59] dorono commented on #67
@caitlynl22 - Are you going to be doing this as part of your work on the nav? (https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/69) A lot of this is already done, but def needs some css updates as per @InciteDemocracy and possibly some pixel-pushing/visual cleanup.

[2017-04-14 02:47] caitlynl22 commented on #67
@dorono Absolutely, I'm working on that tonight and will have a solid 4-6 hours (or more) to work on it tomorrow.

[2017-04-14 03:02] dorono commented on #67
@caitlynl22 Very cool, just want to make sure we don't overlap. There are a couple more issues that are header/filter-related that I wanted to check on as well, but in the meantime, I can work on non-header/filter stuff. If we just keep the Github issues up to date, then we shouldn't have to worry about the overlap. Thanks!

[2017-04-14 03:04] dorono commented on #84
@caitlynl22 Here's another one I was curious about, since it falls within the realm of the header/filter stuff you were working on. Were you thinking you might take this one on?

[2017-04-14 03:07] dorono commented on #73
Hey there @sdotson! Assigned this over to you, just to make sure we avoid having any time wasted with duplicate work.

[2017-04-14 03:08] sdotson commented on #73
Sounds good.

[2017-04-14 03:21] dorono commented on #31
After doing some research, it seems like self-hosting these fonts might not really help, and could actually hurt the site's performance. @dentemple @pdw207 @pfarnach @sdotson - do you guys have any thoughts on this?

At the very least, we could make this a phase II thing (even though it's not rocket surgery).

[2017-04-14 03:36] sdotson commented on #31
I think you might be right. I saw an article [here](https://www.keycdn.com/blog/web-font-performance/) comparing different approaches. Google [still recommends](https://developers.google.com/fonts/faq#should_i_host_fonts_on_my_own_websites_server) using their links.

[2017-04-14 03:43] dorono commented on #31
Yeah, in the spirit of "draining the swamp" of TODO's and get the MVP out the door quicker, I think I'm going to close this out, we can always revisit this later if it turns out to be an issue after all, which I doubt.

[2017-04-14 03:44] #31 closed

[2017-04-14 17:21] dorono opened #88 "Add event-specific info to Facebook sharing"
Currently, when sharing an event using the FB share link on the event detail page, all the user sees is that they are sharing something from the resistance calendar site.

Would be great to see additional info in the sharing window/popup such as:
* image
* event name
* preview text

[2017-04-14 18:32] InciteDemocracy opened #89 "Display future events"
Examples:

When no date is set display all events happening from today -->

When a date is set display all events happening from that day -->

Current implementation:

When no date is set, all events are displayed including past events
When a date is set, only events from that day are displayed.

[2017-04-15 03:45] dorono opened #90 "Update unit tests for new date picker display"
*NOTE*: This ticket can only be started once PR

The code for src/components/EventDateFilter/EventDateFilter.js was changed in a recent commit, those changes have not been reflected in the unit tests. This ticket is to update the unit tests as needed to add coverage for the new functions I added.

[2017-04-15 03:53] dorono commented on #67
@caitlynl22 assigning this over to you!

[2017-04-15 03:55] dorono commented on #84
@caitlynl22 assigning this over to you as part of the header/filter stuff, feel free to unassign as needed, of course, just want to make sure nobody starts on this if you're already working on it.

[2017-04-15 15:09] aaghevli opened #92 "Specify sort order for events"
See the docs for the API for examples:

https://github.com/ResistanceCalendar/resistance-calendar-api#ordering

Specifically by start date (default order is asc):
http://resistance-calendar.herokuapp.com/v1/events?$orderby=start_date
http://resistance-calendar.herokuapp.com/v1/events?$orderby=start_date%20desc

[2017-04-15 19:50] dorono commented on #92
Gonna be out for a while, unassigning myself since it's the weekend and don't want to prevent anyone else from working on this.

[2017-04-15 19:51] dorono commented on #89
Gonna be out for a while, unassigning myself since it's the weekend and don't want to prevent anyone else from working on this.

[2017-04-15 19:51] dorono commented on #92
Gonna be out for a while, unassigning myself since it's the weekend and don't want to prevent anyone else from working on this.

[2017-04-16 03:08] pdw207 opened #94 "Flash when enter search"

[2017-04-16 03:09] pdw207 opened #95 "Can't search for text string and enter date"

[2017-04-16 03:11] pdw207 opened #96 "Favicon"
Favicon is blurry, also support all browsers

[2017-04-16 03:12] pdw207 opened #97 "Add Image Event Title and Date to Social Sharing"
Use graph api to post to facebook and twitter.

https://developers.facebook.com/docs/graph-api

[2017-04-16 03:14] pdw207 opened #98 "Footer Links"

[2017-04-16 13:38] dorono commented on #88
Closing this, as it's a duplicate of https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/97.

[2017-04-16 13:38] #88 closed

[2017-04-16 13:39] dorono commented on #97
Assigning this to you, @sdotson after closing the older version of the ticket for this work, as this version of the ticket contains the link you'd need to make this happen.

[2017-04-16 15:08] aaghevli opened #99 "Location based searching"
The server can support some basic proximity based searcher. See PR below. We can discuss making the API more versatile (city / zip / etc) as part of this work.

https://github.com/ResistanceCalendar/resistance-calendar-api/pull/59

[2017-04-16 18:30] pfarnach commented on #95
This is related to a bug in the ODATA library we're using on the backend.  @aaghevli submitted a PR to them, but I'm not sure if it's been accepted yet.

[2017-04-16 18:32] pfarnach commented on #94
What's a good solution for this?

[2017-04-16 18:49] aaghevli commented on #95
That is correct @pfarnach and @pdw207. I can probably just publish my own npm artifact and use that in RCAPI since I don't think we will get the PR accepted anytime soon.

[2017-04-16 21:09] InciteDemocracy opened #100 "Fix event thumbnails for vertical images"
This issue only happens with Events that have vertical images.
Here's an example:
![screenshot 2017-04-16 11 04 14](https://cloud.githubusercontent.com/assets/25624431/25074375/17f42ba0-2295-11e7-8297-4a04d92a5e1a.png)
![screenshot 2017-04-16 11 04 27](https://cloud.githubusercontent.com/assets/25624431/25074379/24c4bd7c-2295-11e7-98b4-4e6e51054583.png)

[2017-04-16 22:48] InciteDemocracy commented on #96
This Zip contains updated favicons in various sizes.
Let me know if we need any additional dimensions or formats
![apple-icon-114x114](https://cloud.githubusercontent.com/assets/25624431/25074914/f2401b54-22a2-11e7-9628-edc0d0c5c4a5.png)

[RC.ico.zip](https://github.com/ResistanceCalendar/resistance-calendar-frontend/files/924626/RC.ico.zip)

[2017-04-17 15:09] pfarnach commented on #100
I do see the problem with the thumbnail, but not the event details image (the image appears full width for me).  The issue with the thumbnail is that the `image-wrapper` class has a width of `auto` and a height of `100%`.  If you set both values to `100%`, then the images stretch, and if you reverse the values, you have the same problem but for a majority of the images.  I also tried setting a `mi

[2017-04-17 15:14] pfarnach commented on #99
@InciteDemocracy does it make sense to move forward with zipcode-only filtering?  If so, it makes sense to me that it should happen on the server so we don't have to ship all the zipcodes with client code

[2017-04-17 15:15] pfarnach commented on #98
@pdw207 can you add a description or some details to this issue?

[2017-04-17 15:16] aaghevli commented on #99
I think so. Zip code search plus distance should not be too hard.

[2017-04-17 16:17] pfarnach commented on #100
Actually we may be able to get around this with cloudinary's transform tools

http://cloudinary.com/documentation/image_transformation_reference

I'll take a whack at it now

[2017-04-17 16:58] pdw207 commented on #98
@devin I think we need a privacy policy and other urls to link to.

[2017-04-18 03:14] #94 closed

[2017-04-18 03:20] #100 closed

[2017-04-18 03:22] #79 closed

[2017-04-18 06:45] InciteDemocracy opened #104 "Change the event details link to only be the event title and image"
Currently the whole event card is clickable and it causes UX issues: clicking events accidentally and not being able to select the text of the event title or description etc.

[2017-04-18 06:45] InciteDemocracy opened #105 "Make a second click to the calendar icon close the calendar pop up"
A second click to the button that opened the popup should close it.

[2017-04-18 06:48] InciteDemocracy opened #106 "Fix date button spacing"
![screenshot 2017-04-17 20 47 10](https://cloud.githubusercontent.com/assets/25624431/25117819/56db8d02-23af-11e7-9336-06eddaa26893.png)

[2017-04-18 06:53] InciteDemocracy opened #107 "Make event page buttons work"
Clicking the event page button on the event details page should open the event's external event page in a new tab.

[2017-04-18 15:00] pfarnach commented on #92
@InciteDemocracy what sort order do we want for this?  Do we want to set a default, or expose the option to the user with a toggle button or something?  (obviously the former would be simpler to implement)

[2017-04-18 20:37] InciteDemocracy commented on #92
For starters we just need events to be in chronological order. When you arrive at the site events happening today will be displayed at the top, scrolling down them gets you to events happening tomorrow, etc. (V2 can include sorting by proximity and attendance etc.)

[2017-04-19 21:27] pfarnach commented on #98
I think that's the wrong Devin. @InciteDemocracy can you put the link details here?

[2017-04-19 22:29] pfarnach commented on #105
I played around with this for a bit and had to timebox it.  This is a bit tricky due to the datepicker not exposing the `open` state and `setOpen` method.  These can be reached by using the `ref` attribute but I had already spent too much time on this for now.

for reference: https://github.com/Hacker0x01/react-datepicker/issues/283#issuecomment-223517743

[2017-04-20 03:16] InciteDemocracy opened #110 "Fix back button bug on mobile (iphone)"
Steps to replicate bug: If you are viewing an event details page and you hit the "back to events" button, it goes back to the events list but it places the cursor into the search box which pulls up the keyboard.

[2017-04-20 05:25] ignu commented on #107
i was looking at this. can reverse engineer the url from the data we currently have with

    getFacebookUrl(event) {
      const {identifiers} = event;
      if (identifiers[0]) {
        const id = identifiers[0].split(':')[1]
        return `https://facebook.com/events/${id}`
      }
      return null;
    }

**but** this should work as soon as the api returns `base_url`

[2017-04-20 11:37] #110 closed

[2017-04-20 13:47] #96 closed

[2017-04-20 14:15] #72 closed

[2017-04-20 14:15] #86 closed

[2017-04-20 14:15] #87 closed

[2017-04-20 14:17] pdw207 commented on #107
@ignu  We are getting the eventUrl from the api, no? If not we should because the button would break if we added events from other sources.

[2017-04-20 14:18] pfarnach commented on #92
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/109

[2017-04-20 14:18] #92 closed

[2017-04-20 14:18] pdw207 commented on #106
Also these small issues(left padding and z index)
<img width="223" alt="screen shot 2017-04-20 at 10 17 55 am" src="https://cloud.githubusercontent.com/assets/4714249/25235257/a4ece414-25b2-11e7-8222-3d08723a6548.png">

<img width="355" alt="screen shot 2017-04-20 at 8 57 12 am" src="https://cloud.githubusercontent.com/assets/4714249/25235236/9448c9d4-25b2-11e7-843a-5336fc1301f1.png">

[2017-04-20 14:18] pfarnach commented on #89
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/109

[2017-04-20 14:18] #89 closed

[2017-04-20 14:34] pfarnach opened #112 "Fix app max width in desktop view"
The desktop view was broken a few days ago -- the app container no longer stretches to the full width of the container

[2017-04-20 17:45] pfarnach commented on #112
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/113

[2017-04-20 17:45] #112 closed

[2017-04-20 17:46] pfarnach commented on #104
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/113

[2017-04-20 17:46] #104 closed

[2017-04-20 21:41] InciteDemocracy opened #114 "Fix date selector bug"
This is a tiny bug! Currently when you click on the date to pop out the calendar, the list view jumps down a few pixels. Also looks like we need to update the styling for the set date button so it looks better when it's selected.

![screenshot 2017-04-20 11 45 50](https://cloud.githubusercontent.com/assets/25624431/25253958/eff4f580-25be-11e7-8e6c-7435bcb78003.png)

[2017-04-20 21:51] InciteDemocracy opened #115 "Add search by ZIPCODE"
Can't implement until API resolves this one: https://github.com/ResistanceCalendar/resistance-calendar-api/issues/53

[2017-04-20 21:58] InciteDemocracy opened #116 "Replace Date and Time "PLACEHOLDER" text with properly formatted dates and times"
Replace dummy dates and timezone placeholders with the real deal :)

![screenshot 2017-04-20 11 57 31](https://cloud.githubusercontent.com/assets/25624431/25254346/c43908ee-25c0-11e7-86f8-5a745f193125.png)

[2017-04-21 12:27] dorono commented on #116
@aaghevli @pdw207 @pfarnach - With regards to getting the timezone - do you know if we are going to be using the location coords to calculate that, or is there going to be a property in the event object with that? (sorry, I've been out of the loop on Slack for the past few days, so perhaps this was already discussed)

[2017-04-21 20:15] InciteDemocracy commented on #116
Displaying an event's time zone doesn't seem to be super important. Event times can be displayed in the local time where the event is taking place for v1.

[2017-04-22 01:59] aaghevli commented on #116
Hey @dorono, all times should be returned in UTC format, making the use of libraries like moment.js possible to convert to the local timezone client side.

Doing it otherwise requires you to send the lat/long to the server, which complicates caching.

[2017-04-22 03:23] dorono commented on #116
@InciteDemocracy - 2 questions:
1) just to confirm - although the mockup shows "6:00 -9:00 PM EST", we can leave off the "EST", right?
2) Are you cool with the fact that we only have a start time coming from the API, so, assuming that we don't have the timezone is the time display, what the user would see in this case would be "6:00 PM". Is this OK?

[2017-04-22 03:33] aaghevli commented on #115
Hi folks! The API now has this functionality. For example:

http://resistance-calendar.herokuapp.com/v1/events?distance_postal_code=94110&distance_max=5000

See for more details:
https://github.com/ResistanceCalendar/resistance-calendar-api#queries

See the following for details on the changes:
https://github.com/ResistanceCalendar/resistance-calendar-api/pull/61

[2017-04-23 01:17] InciteDemocracy commented on #116
Eventually we will def want start time + end time
Of course start time is the most important time info, so starting with that would be great! Are you sure there is no end time currently included in the API?

[2017-04-23 15:54] pfarnach commented on #115
Forget what I said before, I was able to get through a good chunk of this ticket right now and I'll hopefully have a PR for it in the next 24-48 hours.

[2017-04-23 16:02] dorono commented on #116
@InciteDemocracy OK, we now have the end time thanks to @aaghevli. :) Arash is still working on getting us the timezone data we'll need in order to convert the time to the local timezone of the event, but in the meantime, I had 2 more questions for you, @InciteDemocracy

1.  Is it OK if we keep the "AM" or "PM" after the start time, so instead of, what you have on the mockup, which is "6:00 to 9:0

[2017-04-23 18:14] InciteDemocracy commented on #116
There are a fair number of multi day events...

The simplest fix is to drop the day of the week and the time, and only display the start and end dates:
![screenshot 2017-04-23 08 08 45](https://cloud.githubusercontent.com/assets/25624431/25316090/5f30ca34-27fc-11e7-8074-ceb5722ba5c8.png)

A step up from there would be to include the start time on the first day and the end time on the last day like

[2017-04-23 18:29] InciteDemocracy commented on #114
Also on mobile it is possible to edit the text of the date selector:
![image_uploaded_from_ios-2](https://cloud.githubusercontent.com/assets/25624431/25316240/02faf0e8-27ff-11e7-806b-7d07902332ea.jpg)

[2017-04-24 02:21] aaghevli commented on #116
Hey all, dates are now in the returned endpoint. Thanks!

[2017-04-24 03:11] dorono commented on #116
@InciteDemocracy - should be doable for the multi-day events, will work on it in the next couple of days.

[2017-04-24 22:14] InciteDemocracy opened #118 "Update Search Query"
Example: Searching for “Toomey Town Hall”

Should pull up this event: Our Town Hall With or Without Senator Toomey

    contains(name, “Toomey") or contains(name,  "Town") or contains(name, Hall”)

    $filter=ontains(name, “Toomey") or contains(name,  "Town") or contains(name, "Hall”)

[2017-04-26 21:04] pfarnach commented on #115
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/119

[2017-04-26 21:04] #115 closed

[2017-04-26 21:04] pfarnach commented on #99
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/119

[2017-04-26 21:04] #99 closed

[2017-04-26 21:05] pfarnach commented on #106
Fixed with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/119

[2017-04-26 21:05] #106 closed

[2017-04-26 23:49] InciteDemocracy commented on #98
PRIVACY POLICY

Your privacy is important. We strive to provide you with a safe and secure user experience. We do not collect information through cookies. Our mailing list is solely for the purpose of informing people about updates to this specific project. Any personal information you provide to the team of volunteers, who run Resistance Calendar is maintained and accessible only by us unless spe

[2017-04-26 23:57] InciteDemocracy commented on #98
Footer Links:

HOME -> www.resistancecalendar.org
ADD EVENTS - ?
FACEBOOK -> https://www.facebook.com/resistancecalendar
TWITTER -> https://twitter.com/ResistCalendar
PRIVACY STATEMENT - New page with text (see above)

[2017-04-27 00:28] InciteDemocracy opened #121 "MVP Launch Checklist"
- [x] Update ETL to parse Addresses (API)
- [x] Footer Links and add privacy policy #98
- [x] Add default image for events with no image #122
- [x] Make backend "stay awake" (API)
- [x] Test add-event form/trello

- [x] Add event URLS to API
- [x] Make API store Timezones in UTC
- [x] Make event page buttons links work #107
- [x] Allow date range + search query #95
- [x] Update Search Query #118
-

[2017-04-27 01:17] InciteDemocracy opened #122 "Add default images for events with no image"
We'll miss you Bill Murray!
![screenshot 2017-04-26 15 19 58](https://cloud.githubusercontent.com/assets/25624431/25463727/e08e844c-2a93-11e7-8c26-2adee14d6b58.png)

New Image:

![screenshot_2017-04-19_11 31 42_1024](https://cloud.githubusercontent.com/assets/25624431/25463668/90943144-2a93-11e7-93f5-e7ae589f4ed5.png)

[2017-04-27 04:03] InciteDemocracy opened #123 "Make add event menu full width on mobile"
![screenshot 2017-04-26 18 02 51](https://cloud.githubusercontent.com/assets/25624431/25467557/b156cb3c-2aaa-11e7-959e-90d741a15e59.png)

[2017-04-27 13:29] pdw207 opened #124 "Custom message where no results given a filter"
No event in 10 miles of 01002.
<img width="1166" alt="screen shot 2017-04-27 at 9 26 16 am" src="https://cloud.githubusercontent.com/assets/4714249/25485398/cafbc804-2b2b-11e7-9550-49821e496d10.png">

[2017-04-27 13:31] pdw207 commented on #116
@dorono I'm assuming we are off by one day due to timezone.

<img width="730" alt="screen shot 2017-04-27 at 9 29 51 am" src="https://cloud.githubusercontent.com/assets/4714249/25485508/2d23d27e-2b2c-11e7-9f74-17e07ed13bf2.png">

[2017-04-27 13:31] #97 closed

[2017-04-27 13:35] pdw207 opened #125 "Display Location Filter outside popup (austin, tx or zip code in screenshots below)"
Its unclear to a user what the given filter is if hidden in popup. @InciteDemocracy Do we have a design for this?

[2017-04-27 13:41] dorono commented on #116
@pdw207 - Yes, I've got it working locally, just have been away from the project due to my being sidelined with strep. The only thing I have left to do is update the functionality for multi-day events.

[2017-04-27 13:43] dorono commented on #116
Will try to work on this today, as I'm starting to feel normal again.

[2017-04-27 16:35] dorono commented on #121
@InciteDemocracy Looks good off the bat! Do continue my broken record routine on this topic, do you think we should give folks a way to keep in touch via email? Perhaps just collecting email address and zip code so eventually we can implement a system to email out weekly/monthly event listings? Otherwise, folks may drift away from the site after the hype wears off(?). Or perhaps we should see what

[2017-04-27 20:49] InciteDemocracy commented on #124
Custom message should say "We don't see any events for this filter, try setting a wider range"

[2017-04-27 21:02] InciteDemocracy commented on #125
Yep, the basic idea is to change the text "set location" to the city or zip that is currently set.

![screenshot 2017-04-27 11 01 47](https://cloud.githubusercontent.com/assets/25624431/25504270/f6e9d890-2b38-11e7-9ce7-3701d0b9d543.png)

[2017-04-27 22:39] InciteDemocracy commented on #121
I'm all for it! We could whip something up, or put this at the top of the list for v2. Either way is ok, just not wanting to add too many features and slow down progress.

[2017-04-27 23:25] InciteDemocracy commented on #95
We need to be able to search and filter by both location and time simultaneously. Currently we seem to be able to search while filtering for location but not time.

[2017-04-29 14:21] sdotson commented on #114
@InciteDemocracy it looks like you can edit the text if you're determined on desktop as well.

[2017-04-29 14:36] sdotson commented on #114
Doesn't look like there's a simple way to prevent editing the text of the input. Currently we're using react-datepicker and that looks like the default behavior. How do you feel about splitting that out into a new issue?

[2017-04-30 14:32] dorono opened #129 "Add Timezone to time display site-wide"
On the event listings/cards on the homepage, as well as on the event detail page, add:
* for US events, the timezone abbreviation (PST, MST, CST, EST, etc)
* for non-US events, add the UTC offset. Ex: "Apr 30 at 10 AM to May 1 at 1 PM UTC+10"

One way to get these is by using Google's Map API to determine the timezone by lat/long, which should give us a string, such as "America/Los_Angeles":
https

[2017-04-30 14:37] dorono commented on #116
@InciteDemocracy - Removed the timezone display requirement from this ticket and broke it off into https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/129, since it's a decent amount of effort, and as we discussed, not 100% essential for MVP.

[2017-04-30 14:39] aaghevli commented on #95
That bug has been fixed by me publishing my own fix to npm. Has this been attempted again? I am oway on vacation so can check, but this should be fixed

[2017-05-01 08:59] InciteDemocracy opened #131 "Display correct start/end times on event details pages."
Event Start/End times are displaying correctly on the list view currently, just need to correct for time zones on the event details pages.

[2017-05-01 11:44] #116 closed

[2017-05-01 13:35] pdw207 commented on #107
@ignu Created a [PR](https://github.com/ResistanceCalendar/resistance-calendar-api/issues/71) on the backend to pass a source attribute defined in the [OSDI docs](https://opensupporter.github.io/osdi-docs/events.html)

[2017-05-01 13:39] #69 closed

[2017-05-01 13:39] pdw207 commented on #84
@caitlynl22 Can you give an update or we will remove you from this ticket?

[2017-05-01 13:41] pdw207 opened #132 "Google Analytics"

[2017-05-01 13:41] pdw207 commented on #121
@InciteDemocracy Have you tested the trello add event page?

[2017-05-01 15:18] pfarnach commented on #98
Closed with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/127

[2017-05-01 15:18] #98 closed

[2017-05-02 00:58] InciteDemocracy commented on #121
@pdw207 YES, it work works nicely! we just need to fix it on mobile screens #123 and point it at the right trello board.

[2017-05-02 08:13] #122 closed

[2017-05-02 12:14] dorono commented on #131
@aaghevli @KamillaKhabibrakhmanova  I notice that for some events, we are getting a start date and end date in Zulu (ex: `2017-05-02T00:30:00Z`) time as opposed to the UTC time format we've been getting for the vast majority of start_date and end_date values (ex: `2017-05-01T18:00:00-07:00`).

So we're seeing data coming in like this (notice the difference in the start_date and end_date formats be

[2017-05-02 13:00] KamillaKhabibrakhmanova commented on #131
Added issue for API here:

https://github.com/ResistanceCalendar/resistance-calendar-api/issues/73

[2017-05-02 14:58] pdw207 opened #134 "Footer Styles"
@InciteDemocracy The current footer is taking up a lot of space on the screen when the event listing is short.

## Current:
Also no hover on links.
<img width="1041" alt="screen shot 2017-05-02 at 10 52 52 am" src="https://cloud.githubusercontent.com/assets/4714249/25623857/dec3d446-2f25-11e7-914e-43fb1de4350e.png">

## Proposed
Include hover on links

### Desktop
<img width="1087" alt="screen sho

[2017-05-02 14:59] pdw207 opened #135 "Proposed Compact SubHeader"
Because we have a lot of additional space on desktop can I suggest we move the calendar select to the same row as the other filters?
<img width="1181" alt="screen shot 2017-05-02 at 10 31 45 am" src="https://cloud.githubusercontent.com/assets/4714249/25624068/5754fd9a-2f26-11e7-9179-e540078171fe.png">

[2017-05-02 18:46] #124 closed

[2017-05-02 21:07] InciteDemocracy commented on #135
Yep, that was the plan originally...it got put in it's own row when the mobile version got done.

[2017-05-02 21:09] InciteDemocracy commented on #134
I also prefer something like this.

[2017-05-04 15:04] pfarnach commented on #95
@aaghevli I just checked and it seems like this isn't working.  The call below returns an event that's before the selected starting date

`https://resistance-calendar.herokuapp.com/v1/events?page=0&per_page=25&$orderby=start_date%20desc&$filter=contains(title,%20%27ngozi%27)%20or%20contains(name,%20%27ngozi%27)%20or%20contains(description,%20%27ngozi%27)%20and%20start_date%20gt%202017-05-12`

[2017-05-04 15:17] pfarnach commented on #107
Just checking in -- what's the status of this ticket? I don't see the PR in the backend and it doesn't seem like the URL is coming back in the data.

[2017-05-04 15:30] pdw207 commented on #107
I created an issue not a PR. Sorry.

[2017-05-04 15:48] caitlynl22 commented on #84
@pdw207 Sorry Paul, somehow I missed this before. I have a lot more time now and am planning to finish this today.

[2017-05-04 17:19] pfarnach commented on #107
Ah ok -- @aaghevli or @KamillaKhabibrakhmanova is this something one of you can knock out relatively easily?  If not, we can reverse engineer the URL for facebook but would break for other sources, I think

[2017-05-04 18:22] dorono commented on #107
Could also break for facebook if other sources get added and FB was no longer the first item in the array, so we'd have to do a string match or something like that :hankey:.

[2017-05-04 19:23] pfarnach commented on #118
@aaghevli Can we group terms so we can do things like `(title1 or name1 or desc1) and (title2 or name2 or desc2)` because right now what i have looks like `title1 or name1 or desc1 and title2 or name2 or desc2`

[2017-05-05 03:27] InciteDemocracy commented on #131
@dorono maybe you can help clarify this a bit...What's the reason we can't we use the same method we are using to display event start/end times for the list view?

[2017-05-05 03:44] aaghevli commented on #118
@pfarnach I think we should be able to do that. I tested via

http://localhost:8000/v1/events?$filter=(contains(title,"Session" or contains(name,"Session")) and (contains(title,"Jeff") or contains(name,"Jeff"))

[2017-05-05 03:55] aaghevli commented on #95
I think you want an additional parens around the text clause?

This returns nothing:
[code]

While the gt flipped to lt returns 2 events:

[code]

[2017-05-05 03:56] aaghevli commented on #107
This has been implemented in the API and should be available by now (had to wait for ETL run).

[2017-05-05 04:35] aaghevli commented on #131
Thanks for the issue @dorono. Mongo already stores data in UTC format, but the issue was I was not serializing the timezone properly so rending would not work.

[2017-05-05 08:28] pfarnach commented on #107
Awesome, I see `browser_url` now -- I'll wrap this up today

[2017-05-05 08:41] pfarnach commented on #95
Thanks, that solved two issues in one!

[2017-05-05 08:48] pfarnach commented on #107
@aaghevli any idea why some of them don't have a `browser_url`, like this one? http://localhost:5050/event/58e9a50d74ceb9d94e193e02

@InciteDemocracy if it's something we can't account for and don't have a URL, we should hide the button in the UI right?

[2017-05-05 09:01] pfarnach commented on #95
Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/136

[2017-05-05 09:01] pfarnach commented on #118
Resolved in https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/136

[2017-05-05 09:20] pfarnach commented on #107
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/136

[2017-05-05 09:46] InciteDemocracy opened #138 "Add indicators to canceled events"
Problem: FB Events that are canceled currently have no working link to the event page url, and give no indication they have been canceled.

Solution:

1. Add event page URLs for canceled events to API
2. Add (Canceled) to end of event title

[2017-05-05 11:55] pfarnach commented on #95
The PR hasn't been merged yet so I'm re-opening

[2017-05-05 11:55] pfarnach commented on #107
The PR hasn't been merged yet so I'm re-opening

[2017-05-05 11:55] pfarnach commented on #118
The PR hasn't been merged yet so I'm re-opening

[2017-05-05 14:03] #123 closed

[2017-05-05 14:05] #134 closed

[2017-05-05 14:06] #95 closed

[2017-05-05 14:06] #107 closed

[2017-05-05 14:06] #118 closed

[2017-05-05 14:16] pfarnach commented on #68
Seems like this is necessary for the MVP -- I'm making it a P1

[2017-05-05 19:11] #131 closed

[2017-05-05 22:38] InciteDemocracy commented on #68
This appears to be fixed now (tested on iphone), currently the only issue is a styling bug with the cancel button on mobile
![img_1133](https://cloud.githubusercontent.com/assets/25624431/25766702/c1c49738-318f-11e7-97b1-2961f7fb52b3.PNG)

[2017-05-06 11:09] pfarnach commented on #68
Ok I have a PR out to fix this (https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/143)

[2017-05-06 20:10] aaghevli opened #144 "Preserve cloudinary bandwidth"
We are actually exceeding our quota, with 50% of the quota being used up by http://localhost:5050/

My guess is that this is our development version. Is it possible for us to avoid hitting the cloudinary when developing and instead use a stub?

Also, for the event details page, I noticed that we do not apply a transform. Such a transform could downsample rather large images and also preserve bandw

[2017-05-08 21:11] geoffreyyip commented on #138
How would the front-end application know if an event was cancelled on Fb? Are we planning to handle that in the API?

[2017-05-08 22:23] InciteDemocracy commented on #138
Yes we need to update the API to include `is_canceled` I've created an issue for the back end here: https://github.com/ResistanceCalendar/resistance-calendar-api/issues/78I've created an issue

[2017-05-09 01:34] pdw207 opened #149 "Multiple calls to backend and no persisting of filters (zip code and search)"
Currently if you click on a detail entry and then back you reset the filter. Ideally it stores this in state variable and ideally will retain in cookie for next visit.

[2017-05-10 00:40] pdw207 opened #150 "Style change if current day is selected second time"
![error](https://cloud.githubusercontent.com/assets/4714249/25878306/b9dfdd6e-34f7-11e7-80cf-29f896a74f1d.gif)

[2017-05-10 01:59] #68 closed

[2017-05-10 01:59] #144 closed

[2017-05-10 02:15] pdw207 opened #151 "Top padding on date box seems too close"
<img width="415" alt="screen shot 2017-05-09 at 10 12 58 pm" src="https://cloud.githubusercontent.com/assets/4714249/25880350/daa8f32a-3504-11e7-9f1d-02d31bbd8b6f.png">

[2017-05-10 02:45] InciteDemocracy commented on #114
This is currently the biggest front end blocker to launching.

[2017-05-10 02:48] pdw207 opened #154 "Hovers gives False indication the row is clickable"
Hover on a row and seems to indicate a link but only the title brings you to the details page

[2017-05-10 03:12] pdw207 opened #155 "Need ability to clear search and date select"

[2017-05-10 03:24] InciteDemocracy commented on #154
I agree this is confusing, we should either make the whole event card clickable or remove the hover. Either way is ok with me. The objection to making the whole card clickable was that you can't select the text of the event, but you still can't do that currently without going to the details page.

[2017-05-11 14:34] pdw207 commented on #150
Now if you select date and reselect the date disappears

[2017-05-11 14:34] #135 closed

[2017-05-11 14:36] #114 closed

[2017-05-11 14:36] pdw207 opened #158 "Events automatically Scoped to Region"

[2017-05-11 14:37] pdw207 commented on #158
Current PR is open. waiting for change in backend.

[2017-05-11 14:37] #151 closed

[2017-05-11 14:39] pdw207 commented on #149
We are making making a request on every page transition. We should save the even listing in a state. It would be good to surface the filters in params to a user so state can be preserved if users share links. Ideally it would be nice to have cookies cache the filter information on return visits.

[2017-05-11 14:40] pdw207 commented on #125
In open PR.

[2017-05-11 16:06] pfarnach commented on #67
Down the road we may want to make the calendar full width, but for now this is fine

[2017-05-11 16:06] #67 closed

[2017-05-11 16:30] InciteDemocracy opened #160 "Hide Canceled Events (temporary fix)"
Until the API has URLS and 'is_canceled' tags for canceled events, we are going to not display them at all.

[2017-05-11 16:39] #84 closed

[2017-05-11 16:43] InciteDemocracy commented on #150
This is issue is specific to the date that is "today

Steps to recreate issue:

1. Select a random date.
2. Select today's date.

[2017-05-11 17:56] pfarnach commented on #154
I'll remove the hover effect.  Agreed that making the whole thing clickable was problematic

[2017-05-13 22:21] #154 closed

[2017-05-13 22:29] pfarnach commented on #160
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/161

[2017-05-13 22:29] #160 closed

[2017-05-14 03:06] #132 closed

[2017-05-14 23:57] #150 closed

[2017-05-25 03:12] InciteDemocracy commented on #73
This is a small detail blocking launch:

![screenshot 2017-05-24 09 15 51](https://cloud.githubusercontent.com/assets/25624431/26434340/fd18ac16-40a3-11e7-924f-925232c2ded2.png)

Once the app lives in a domain other than heroku the facebook sharing integration needs to be updated to work with that URL.

@sdotson maybe you can take a look :)

Currently we are testing here:
www.incitedemocracy.org

[2017-05-26 02:38] sdotson commented on #73
I think the www.incitedemocracy.org domain needs to be added to the whitelisted domains in the app settings. This would need to be done by a person who has access to the settings on facebook.com. Do you know who might have those privileges? I'd be glad to do it myself but someone would need to grant me access first.

[2017-05-29 19:52] InciteDemocracy opened #168 "Update Nav bar layout"
Current navbar looks like this:

![screenshot 2017-05-11 10 54 14](https://cloud.githubusercontent.com/assets/25624431/26560704/6b503a74-4454-11e7-98b9-f46ef5d22ff5.png)

Date picker should be on the left side like this:

![screenshot 2017-05-11 10 51 46](https://cloud.githubusercontent.com/assets/25624431/26560702/68414008-4454-11e7-94cf-e0a9ccf5a2f0.png)

[2017-05-29 19:54] InciteDemocracy commented on #168
@pdw207 I think you were going to fix this one?

[2017-06-03 17:36] pdw207 commented on #168
@InciteDemocracy Yes. Let me get that open PR in first and then I can do this.

[2017-06-03 21:35] InciteDemocracy opened #171 "Fix add bug that prevents users from adding a second event"
After successfully adding an event and returning to the list view, the add events button doesn't respond. Manually refreshing the site fixes it. This should be a very simple fix. We can set the link that you click on the success page to www.resistancecalendar.org

[2017-06-07 06:14] pfarnach commented on #158
Resolved with https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/117

[2017-06-07 06:14] #158 closed

[2017-06-07 06:23] InciteDemocracy opened #174 "Fix zipcode bug - Some zip code searches return ALL events"
Some zipcode queries include all events.

EXAMPLE ZIP: 97086

[2017-06-08 23:08] pdw207 commented on #73
Where are we on this? Is this done?

[2017-06-11 13:54] dorono commented on #73
@InciteDemocracy @pdw207 I just tried this on the live site w/both FB and Twitter, and it seems to be working (unless @sdotson thinks otherwise?), so I believe that this should be marked as done.

However, the event's photo is not currently being shared, so I believe we should create a separate ticket to make that happen, IMO.

[2017-06-15 15:44] sdotson commented on #73
Yep. I think this should be marked as done if it's working on the live site.

[2017-06-19 18:43] #121 closed

[2017-06-19 18:47] InciteDemocracy commented on #73
@dorono I agree, let's close this issue and create a separate ticket for including event images.

[2017-06-19 18:47] #73 closed

[2017-06-19 18:51] InciteDemocracy opened #177 "Make event title and image appear when events are shared on FB"
Currently FB share window looks like this:

![screenshot 2017-06-19 08 50 17](https://user-images.githubusercontent.com/25624431/27300736-643b15b4-54cc-11e7-9a77-196ef73e1bc9.png)

[2017-06-19 19:13] InciteDemocracy opened #178 "Fix location FILTER BY LOCATION display bug on small screens"
This issue is currently visible in the staging app: http://beta.resistancecalendar.org/

![screenshot 2017-06-19 09 07 10](https://user-images.githubusercontent.com/25624431/27301388-b7ab82ae-54ce-11e7-8c1d-acc8647608f8.png)

This is a high priority fix because it blocks us from merging the awesome work @pfarnach did on persistence (pull #175) into the production app.

[2017-06-19 19:23] #125 closed

[2017-06-19 19:23] InciteDemocracy commented on #125
This is currently merged into the staging app, but it's causing bug #178

[2017-06-20 18:01] #178 closed

[2017-06-20 18:03] pdw207 commented on #174
I think this might be a bug on the backend. I imagine if it's not included in the table it's just sending everything back? @KamillaKhabibrakhmanova

[2017-06-25 19:31] aaghevli commented on #138
Hi folks. As per the following, please use the OSDI event.status field to determine cancelled status.

https://github.com/ResistanceCalendar/resistance-calendar-api/pull/89

[code]

[2017-06-26 02:01] #149 closed

[2017-06-26 02:33] pdw207 commented on #177
@sdotson Sounds like you might have the most experience with this. Does this relate to an app id or a regression since your PR on social buttons was merged `https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/101`

[2017-06-26 15:47] sdotson commented on #177
Bummer. It looks like Facebook deprecated picture, caption, and description as things we can pass to the share dialogue api: https://developers.facebook.com/docs/apps/changelog#v2_9_90_day_deprecations

Looks like they really want folks to shift to open-graph tags, which has to be implemented server side.

Their API now only lets us specify a quote, url, and hashtag:
https://developers.facebook.co

[2017-07-09 01:48] #171 closed

[2017-07-09 23:11] pdw207 commented on #177
An argument for an isomorphic app.

[2017-07-12 21:44] InciteDemocracy opened #185 "Add RSVP counters to events"
The API has RSVP data for FB events
We can display it in list view like this:
![screenshot 2017-07-12 11 29 29](https://user-images.githubusercontent.com/25624431/28141130-fd8078fe-66f6-11e7-8e6c-79b7a3083ad0.png)

And also on event details pages like this:
![screenshot 2017-07-12 11 44 06](https://user-images.githubusercontent.com/25624431/28141248-7599b594-66f7-11e7-96ca-1bddd5861c97.png)

[2017-07-12 21:54] InciteDemocracy opened #186 "Add SMART location range."
Problem: Currently folks in rural areas arrive at the site and see zero events near them.

Solution: Make the location auto-detector automatically increase the distance range to ensure folks in rural areas find the closest events that are happening to them, even if when they are not within 50 or 100 miles of a major city.

Upon arrival ask for location access and:
Set to 50 miles,
if less than 6 e

[2017-08-19 20:40] ignu commented on #185
looking at this one now.

[2017-08-23 21:14] InciteDemocracy opened #188 "Fix "apostrophe" search bug"
When users search for strings that include an apostrophe for example "women's" or "portland's" the search returns a very large number of events. One hypothesis is that the apostrophe is being treated as a space, and so we are getting every event that includes an "s" in it's title or description.

[2017-08-24 02:55] #185 closed

[2017-09-08 19:02] InciteDemocracy opened #190 "Hide RSVP tags for events with zero attendees"

[2017-09-08 19:06] InciteDemocracy opened #191 "Adjust styling for RSVP tags and add to mobile view"
Here is a more low profile styling for RSVP tags so that we can include them in mobile view
![screenshot 2017-09-08 08 52 08](https://user-images.githubusercontent.com/25624431/30227308-ecae30ce-9474-11e7-887d-f56d229106d6.png)
![screenshot 2017-09-08 08 50 46](https://user-images.githubusercontent.com/25624431/30227316-f36dd8a6-9474-11e7-832c-601bc248acb7.png)
![screenshot 2017-09-08 08 57 29](ht

[2017-09-15 00:55] InciteDemocracy opened #193 "Add SIZE/DATE sorting"
Now that we are adding RSVP info for events, it would be great to be able to sort events by crowd size:

![screenshot 2017-09-14 14 54 41](https://user-images.githubusercontent.com/25624431/30461800-be4116d8-995c-11e7-9cc6-3d180017884e.png)

[2017-09-22 18:32] pdw207 commented on #193
Because the location zip search redesign isn't implement it look a little strange if we us this exact styling. I will implement like the date picker for now and will make it easy to update the styles in a follow up PR.

[2017-10-04 19:27] pdw207 opened #197 "Get Code Coverage up form 60%"
We need to add tests to two files:
- [19%  for src/components/Events/Events.js](https://codeclimate.com/github/ResistanceCalendar/resistance-calendar-frontend/coverage/59ce8b025da5bd0001140f70)

- [13% for src/api/eventsAPI.js](https://codeclimate.com/github/ResistanceCalendar/resistance-calendar-frontend/coverage/59ce8b025da5bd0001140f61)

[2017-10-04 19:28] #191 closed

[2017-10-04 19:29] #190 closed

[2017-10-05 13:47] pdw207 opened #198 "State in Filter by Location Lost"
Click on event detail and back button and the filter by location info is lost.

[2017-10-05 14:01] dorono commented on #188
I started working on a front end fix (https://github.com/ResistanceCalendar/resistance-calendar-frontend/pull/189), but realized that there was a back end/API fix that needed to happen in order to make this work.

[2017-10-05 14:03] dorono commented on #193
@InciteDemocracy @pdw207 - we can call this one done for now since the work described here was handled by #195  - no?

[2017-10-10 12:31] pdw207 opened #199 "Open Event on Mobile button should launch facebook"

[2017-10-10 12:36] pdw207 opened #200 "Iphone Filter Button"
Iphone 6

<img width="262" alt="screen shot 2017-10-10 at 8 34 09 am" src="https://user-images.githubusercontent.com/4714249/31386740-e54a9e28-ad95-11e7-8f0c-ea80501b7c70.png">

Also when you click you open the location select. Input fields are not positioned correctely. If you click below an input it is highlighted.

[2017-10-10 12:54] pdw207 opened #201 "Redesign Event Detail Page"
Either open the event detail as a modal (narrow width seems to format correctly with low res images) or have portrait/landscape view for desktop (hopefully we can test with a couple real examples to make sure the redesign addresses user generated content).

[2017-10-11 02:35] dorono commented on #200
@pdw207 I know it would have been good to implement the new design, but I was short on time, and just wanted to get that mobile bug fixed asap, as it's a pretty bad one. I'll close this out, and hopefully we can get to the new filter location design ticket soon.

[2017-10-11 02:35] #200 closed

[2017-10-12 13:15] pdw207 commented on #199
This might be helpful:
https://www.quora.com/How-does-Bitlys-Deep-Linking-detect-if-the-user-already-has-the-app-installed

[2017-12-06 18:59] dorono commented on #177
Assuming that FB's policy of only allowing the API to give picture, caption, etc via the back end, we could always go with something like https://www.sharethis.com. It generates a pop-up window (as opposed to a modal overlay), but it seems to get the job done on desktop as well as mobile, so perhaps it's more important to make the content sharable than to make things look extra-slick.

[2018-01-05 17:52] dorono commented on #177
Adding Twitter to this issue, since we're also not getting images from Twitter shares. Again, ShareThis would solve this issue with minimal work.

[2018-01-07 21:17] dorono commented on #177
Though React Helmet would work, but that only works for server-side rendered apps. This bit of code might work: https://www.reddit.com/r/reactjs/comments/5j7100/react_dynamic_facebook_sharing_dialogue_question/

[2018-01-21 14:04] dorono opened #204 "Get preview images to display when sharing from Facebook share button on event details page"
This is related to https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/177, but creating a separate issue here to cover a separate PR that has been created specifically for this aspect of the social sharing preview bugs we're running into.

[2018-01-21 14:07] dorono opened #205 "Get preview images to display when sharing from Twitter share button on event details page #204"
This is related to https://github.com/ResistanceCalendar/resistance-calendar-frontend/issues/177, but creating a separate issue here to cover a separate PR that has been created specifically for this aspect of the social sharing preview bugs we're running into.

[2018-02-05 04:02] InciteDemocracy opened #207 "Fix mobile cursor display bug"
On some mobile browsers the cursor in the zip code field appears lower than the digits:

![image_uploaded_from_ios](https://user-images.githubusercontent.com/25624431/35787868-70a3028a-09d5-11e8-9622-9e35da03e280.png)

[2018-03-03 21:07] aaghevli opened #209 "Check metadata before displaying share links"
I see that some events aren't working with the Facebook share link, I think it's because those events may be missing some properties needed for the preview popup.

This is likely due to new event sources outside of Facebook causing missing metadata.

We should check to make sure these fields exist before showing them.

[2018-03-05 01:39] InciteDemocracy opened #210 "Add dedicated default image for "Justice Democrats" events"
Currently the JD events all display with the default RC event image that we use for all events that are imageless. It would be good to add an image like this as a default for them instead:

![justice-democrats-event-600x360](https://user-images.githubusercontent.com/25624431/36953889-2f220588-1fc2-11e8-90c5-16e2f5419e6a.png)

[2018-03-17 23:16] aaghevli opened #211 "Better error message when zipcode is invalid"
We have changed the RC API to throw an exception (HTTP Status 400) instead of silently ignoring a bad zipcode. This fixes a long standing bug and point of confusion for our users.

https://github.com/ResistanceCalendar/resistance-calendar-api/pull/126

The resulting front end could probably do better to handle the error message a bit better so the user knows what the specific error is here.

![ima

[2018-05-15 08:47] wwwebman commented on #105
Hmmm, `startOpen` prop is exist, but `isOpen` missed. I think,  `isOpen` should be added to prevent ref manipulation, it's so tricky doing it with ref. Especially, if you want to use functional component with more then one datapicker :)

[2018-08-31 11:19] albjeremias commented on #177
u just need to implement the correct meta-tags, on your html!

https://moz.com/blog/meta-data-templates-123

[2018-09-05 02:50] dorono commented on #177
@albjeremias I don't believe that it would address the issue with the Facebook crawler not being able to find previews of a given page from the website. I think those meta tags help for sharing, which I think is working ok now, but it's for when someone goes into Facebook.com or Twitter.com and attempts to paste a URL from Resistance Calendar. The FB and Twitter crawlers do not execute JavaScript,

[2018-09-05 08:06] albjeremias commented on #177
no. and if you don't believe what can I say? good luck

[2020-02-27 13:51] dorono opened #213 "Update NPM Dependencies and Make Associated Fixes"
This application has npm packages that are extremely old and insecure.

As it happens, much of the work of updating them has been completed, and is available in this branch on my fork: https://github.com/dorono/resistance-calendar-frontend/tree/dependencyUpdate

So far, the application runs, but there are a few issues remaining to be fixed:
* the CSS is not rendering properly and is mostly missing